# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js build outputs
.next/
**/.next/
out/
**/out/

# production / build outputs
build/
**/build/
dist/
**/dist/

# Turborepo cache
.turbo/
**/.turbo/

# misc system files
.DS_Store
*.pem

# local env files
.env
.env*.local
**/.env
**/.env*.local

# debug and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# agent context & docs
.agents/
docs/